img.pimage {
    width: 100px;
}

a.pa {
    display: inline-block;
    height: 160px;
}

.row.products .p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
.input-mysize { width: 600px }
.text-size {
    font-size: 90%;
    font-style: italic;
}
.bottom {
    min-height: 100%;
}
footer {
position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
